<div class="pagetitle">
  <h1>Dashboard - Report</h1> <br>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
        <!-- Sales Card -->

        <% if (userRept=='' ) { %>
          <br> <br>
          <h3 class="m-5 text-center mb-5">There is no report available at the moment</h3>

          <% } else{%>
            <% userRept.forEach(trans=> { %>


              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Detail</h6>
                    </li>

                    <li><a class="dropdown-item btn badge bg-success mb-3" href="#">Submit</a></li>
                    <li><a class="dropdown-item badge bg-danger mb-3" href="/user/delRep/<%=trans.report_id %>">Delete</a></li>

                  </ul>
                </div>
                <div class="card-body">
                  <% if (userData.role ==='client') {%>
                    <a href="/user/reeport/<%=trans.report_id %>">
                  <% } else { %>
                    <a href="/admin/reeport/<%=trans.report_id %>">
                  <%} %>
                  
                    <h5 class="card-title">Report Status <span>| <%= trans.progress %></span></h5>

                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-file-earmark-medical"></i>
                      </div>
                      <div class="ps-3">
                        <h6 class="text-capitalize">
                          <%= trans.title %>
                        </h6>
                        <span class="text-primary small pt-1 fw-bold">
                          <%= trans.name %>
                        </span> <span class="text-muted small pt-2 ps-1">| <%= trans.date %></span>

                      </div>
                    </div>
                  </a>
                </div>
              </div>


              <% }) %>
                <% } %>

      </div>
    </div><!-- End Left side columns -->


    <!-- Right side columns -->
    <div class="col-lg-4">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New Report | Today</h5>
          
          <!-- Vertically centered Modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
            Create New Report
          </button>
          <div class="modal fade" id="verticalycentered" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Report Creation &nbsp; <div class="spinner-border text-primary p-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div><!-- End Growing spinner -->
                </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="card p-4">
                    <form action="/Report/XxGghTtH" method="POST" class="php-email-form">
                      <div class="row gy-4">
        
                        <div class="col-md-12">
                          <label for="">Name</label>
                          <input type="text" name="name" class="form-control" readonly value="<%= userData.surname %> <%= userData.othername %> ">
                        </div>
        
                        <div class="col-md-12 ">
                          <label for="">Title</label>
                          <input type="text" class="form-control" name="email" placeholder="Report Title" required>
                        </div>        
                      </div>
                    
                  </div>
        
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Save changes</button></form>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Vertically centered Modal-->
      <div class="card info-card revenue-card">
        <div class="card-body">
          <h5 class="card-title">Profile <span>| Updated</span></h5>
          <a href="/user/profile">
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-person"></i>
              </div>
              <div class="ps-3">
                <h6>My Profile</h6>
                <span class="text-success small pt-1 fw-bold">Click |</span> <span class="text-muted small pt-2 ps-1">|
                  Check</span>

              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="card info-card revenue-card">
        <div class="card-body">
          <h5 class="card-title">Complain Or Request <span>| This Month</span></h5>
          <a href="/user/complaints">
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-pen"></i>
              </div>
              <div class="ps-3">
                <h6>Complaints</h6>
                <span class="text-success small pt-1 fw-bold">Complaint |</span> <span class="text-muted small pt-2 ps-1">|
                  Requests</span>

              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="card info-card revenue-card">
        <div class="card-body">
          <h5 class="card-title">Investment <span>| This Month</span></h5>
          <a href="/user/investments">
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <div class="ps-3">
                <h6>Investment</h6>
                <span class="text-success small pt-1 fw-bold">Click |</span> <span class="text-muted small pt-2 ps-1">|
                  Check</span>

              </div>
            </div>
          </a>
        </div>
      </div>

      
      
    </div><!-- End Recent Activity -->


  </div><!-- End Right side columns -->

  </div>
</section>