<% if (!userInvest) { %>
    <br> <br>
    <h3 class="m-5 text-center mb-5">There is no recorded investment at the moment</h3>
    <a href="/user/dashboard" class="btn btn-outline-danger ">Back To Menu</a>
    <% } else{%>

        <section class="section dashboard">
            <div class="row">
                <!-- Investment  Card -->
                <div class="col-xxl-12 col-md-12">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Investment <span>| Title</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-pen"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 class="text-capitalize">
                                        <%= userInvest.title %>
                                    </h6>
                                    <span class="text-success small pt-1 fw-bold">Status</span> <span
                                        class="text-muted small pt-2 ps-1 text-capitalize"><%= userInvest.status %></span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Investment  Card -->
            </div>
            <div class="row">
                <!-- Investment Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">


                        <div class="card-body">
                            <h5 class="card-title">Investment <span>| Price</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-exchange"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>
                                        <%= userInvest.price %> NGN
                                    </h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Investment  Card -->

                <!-- Investment Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Investment <span>| Unique Id</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-card-checklist"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>
                                        <%= userInvest.invest_id %>
                                    </h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Investment  Card -->
                <!-- Investment  Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="pt-4 p text-center pb-3">
                            <a href="<%= userInvest.picture %>">
                                <img src="<%= userInvest.picture %>" alt="Investment Image" width="65%">
                            </a>
                        </div>

                    </div>
                </div><!-- End Investment  Card -->

                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Payment <span>| Available Options</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-exchange"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>
                                       Pay Via Bank Transfer
                                    </h6>
                                </div>
                            </div> <br> <br>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-exchange"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>
                                        <small>
                                            Click To Pay Online
                                        </small>
                                    </h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Investment  Card -->
                <!-- Investment  Card -->
            </div>
            <div class="row">
                <!-- Investment  Card -->
                <div class="col-xxl-12 col-md-12">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Investment<span>| Details</span></h5>

                            <div class="d-flex align-items-center">
                                
                                <div class="ps-3 container">
                                    <article class="text-muted small pt-2 ps-1 text-capitalize">
                                        <%- userInvest.details %>
                                    </article>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Investment  Card -->
            </div>
        </section>

 <% } %>