<div class="container-fluid">
  <div class="pagetitle"><% let counter = 1 %>
    <h1>Property Rent / Lease / Shortlet Form</h1> <br>
  </div><!-- End Page Title -->

  <% if (userProp) { %>
     <div class="card p-4">
    <% if (userData.role === 'admin' ) { %>
      <form action="/admin/rental-submit" method="POST">
    <% } else { %>
      <form action="/user/rental-submit" method="POST">
    <% } %>
      <div class="card-body">  <b>Booking Forms</b> <br> <br>

        <div class="input-group mb-3">
          <input type="text" class="form-control" name="property_name" readonly aria-label="Username" value="<%= userProp.property_name %>">
          <span class="input-group-text">&</span>
          <input type="text" class="form-control" readonly value="<%= userProp.address %>" name="address" aria-label="Server">
        </div>
        <div class="input-group mb-3">
          <input type="number" class="form-control" readonly value="<%= userProp.rent_price %>" name="rent_price" aria-label="Username">
          <span class="input-group-text">#</span>
          <select class="form-select text-capitalize" aria-label="Default select example" name="property_type" >
            <option selected value="<%= userProp.property_type %>"><%= userProp.property_type %></option>
            <hr>
         
          </select>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Occupant Name" aria-label="Username" name="occupant_name">
          <span class="input-group-text">#</span>
          <input type="number" class="form-control" placeholder="Occupant Phone Number" aria-label="Server" name="occupant_phone">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Next Of Kin" aria-label="Username" name="next_of_kin">
          <span class="input-group-text">#</span>
          <input type="number" class="form-control" placeholder="Next Of Kin Phone Number" aria-label="Server" name="kin_phone">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Next Of Kin Address" aria-label="Username" name="kin_address">
          <span class="input-group-text">#</span>
          <input type="text" class="form-control" placeholder="Enter Duration" name="duration" aria-label="Server">
        </div>
        <span>Rent Start # Rent End</span>
        <div class="input-group mb-3">
          <input type="date" class="form-control" name="rent_start_date"  placeholder="Rent Starts" aria-label="Username">
          <span class="input-group-text">#</span>
          <input type="text" class="form-control" placeholder="Rent Ends" aria-label="Server">
        </div>
  
  
        <button type="submit" class="btn btn-outline-primary">Apply</button>
      </div>
    </form>
  </div>
  <% } %>
  
  <!-- <div class="card p-4">
    <form action="" method="post">
      <div class="card-body"> 

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Property Name" aria-label="Username" value="<%= userProp.property_name %>">
          <span class="input-group-text">#</span>
          <input type="text" class="form-control" placeholder="Address" aria-label="Server">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Amount NGN" aria-label="Username">
          <span class="input-group-text">#</span>
          <select class="form-select" aria-label="Default select example" name="property_type">
            <option selected>Select Property Type</option>
            <hr>
            <option value="apartment">Apartment</option>
            <option value="condo">Condo</option>
            <option value="detached_house">Detached House</option>
            <option value="duplex">Duplex</option>
            <option value="terrace">Terrace</option>
            <option value="flat">Unit Flat</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Occupant Name" aria-label="Username">
          <span class="input-group-text">#</span>
          <input type="text" class="form-control" placeholder="Occupant Phone Number" aria-label="Server">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Next Of Kin" aria-label="Username">
          <span class="input-group-text">#</span>
          <input type="text" class="form-control" placeholder="Next Of Kin Phone Number" aria-label="Server">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Next Of Kin Address" aria-label="Username">
          <span class="input-group-text">#</span>
          <input type="text" class="form-control" placeholder="NOK Alternative Phone Number" aria-label="Server">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Rent Starts" aria-label="Username">
          <span class="input-group-text">#</span>
          <input type="text" class="form-control" placeholder="Rent Ends" aria-label="Server">
        </div>
  
  
        <button type="submit" class="btn btn-outline-primary">Apply</button>
      </div>
    </form>
  </div> -->

  
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Form Summary</h5>

      <!-- Table with hoverable rows -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Property Name <i class="bi bi-pen me-1 text-info"></i></th>
            <th scope="col">Type</th>
            <th scope="col">Occupant</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Next Of Kin</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% userRent.forEach(trans=> { %>
            <tr>
              <th scope="row">
                <%= counter++ %>
              </th>
              <td>
                <a href="/user/renter/<%= trans.id %>" class="text-dark ">
                  <%= trans.property_name %>
                </a>
              </td>
              <td>
                <a href="/user/renter/<%= trans.id %>" class="text-dark text-capitalize">
                  <%= trans.property_type %>
                </a>
              </td>
              <td>
                <a href="/user/renter/<%= trans.id %>" class="text-dark text-capitalize">
                  <%= trans.occupant_name %>
                </a>
              </td>
              <td>
                <a href="/user/renter/<%= trans.id %>" class="text-dark text-capitalize">
                  <%= trans.occupant_phone %>
                </a>
              </td>
              <td>
                <a href="/user/renter/<%= trans.id %>" class="text-dark text-capitalize">
                  <%= trans.next_of_kin %>
                </a>
              </td>
              <td>
                <a href="/user/renter/<%= trans.id %>" class="text-dark text-capitalize">
                  <%= trans.status %>
                </a>
              </td>

            </tr>
            <% }) %>
          
        </tbody>
      </table>
      <!-- End Table with hoverable rows -->

    </div>
  </div>
</div>